.title {
    font-size: 30;
    horizontal-align: center;
    margin: 20;
}

button {
    font-size: 42;
    margin-bottom: 30;
    horizontal-align: center;
}

.message {
    font-size: 20;
    color: #284848;
    horizontal-align: center;
}

.menu-option {
	font-size: 20;
	text-decoration: underline;
	width: 100%;
	text-align: center;
	background-color: green;
}

.initMagicButton {
    background-image: url('res://red_button');
    width: 50;
	height: 50;
	background-color: 'red';
	border-radius: 50;
}

#acquirePageScrollView {
    background-image: url("res://books");
    background-size: 1080 250;
    background-repeat: repeat-y;
}

#acquirePageMainLayout {
    background-image: url("res://books");
    background-size: 1080 250;
    background-repeat: repeat-y;
}
